In [12]:
# Multiple Linear Regression

# Importing the libraries
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [17]:
# Importing the dataset
dataset = pd.read_csv('50_Startups.csv')
X = dataset.iloc[:, :-1]
y = dataset.iloc[:, 4]

In [18]:
#Convert the column into categorical columns

states=pd.get_dummies(X['State'],drop_first=True)

# Drop the state coulmn
X=X.drop('State',axis=1)

In [19]:

# concat the dummy variables
X=pd.concat([X,states],axis=1)

In [20]:
# Splitting the dataset into the Training set and Test set
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

In [22]:
# Fitting Multiple Linear Regression to the Training set
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()
regressor.fit(X_train, y_train)

# Predicting the Test set results
y_pred = regressor.predict(X_test)

from sklearn.metrics import r2_score
score=r2_score(y_test,y_pred)

In [21]:
X_test

    R&D Spend  Administration  Marketing Spend  Florida  New York
28   66051.52       182645.56        118148.20     True     False
11  100671.96        91790.61        249744.55    False     False
10  101913.08       110594.11        229160.95     True     False
41   27892.92        84710.77        164470.71     True     False
2   153441.51       101145.55        407934.54     True     False
27   72107.60       127864.55        353183.81    False      True
38   20229.59        65947.93        185265.10    False      True
31   61136.38       152701.92         88218.23    False      True
22   73994.56       122782.75        303319.26     True     False
4   142107.34        91391.77        366168.42     True     False

In [19]:
import numpy as np
rnd_Spend =165349.2

administration =136897.8

marketing_spend =471784.1

florida=int('0')
ny =int('1')
            

data = [rnd_Spend,administration,marketing_spend,florida,ny]
data = np.array(data).reshape(1, 5)

In [20]:
data

array([[1.653492e+05, 1.368978e+05, 4.717841e+05, 0.000000e+00,
        1.000000e+00]])

In [21]:
import pandas as pd
import joblib
data =pd.DataFrame(data)
model =joblib.load("model.joblib")

d:\02.ML_DL_DSA_Prep\Bappy_ML_PJ\Startup-Profit-Prediction\start_pred\lib\site-packages\sklearn\base.py:348: InconsistentVersionWarning: Trying to unpickle estimator ElasticNet from version 1.4.1.post1 when using version 1.3.2. This might lead to breaking code or invalid results. Use at your own risk. For more info please refer to:
https://scikit-learn.org/stable/model_persistence.html#security-maintainability-limitations
  warnings.warn(

In [22]:
data

          0         1         2    3    4
0  165349.2  136897.8  471784.1  0.0  1.0

In [23]:
model.predict(data)

d:\02.ML_DL_DSA_Prep\Bappy_ML_PJ\Startup-Profit-Prediction\start_pred\lib\site-packages\sklearn\base.py:465: UserWarning: X does not have valid feature names, but ElasticNet was fitted with feature names
  warnings.warn(

array([194812.75009379])

In [7]:
states=pd.get_dummies(data[3],drop_first=True)

In [8]:
data=pd.concat([data,states],axis=1)

In [9]:
data

          0         1         2    3    4
0  165349.2  136897.8  471784.1  1.0  1.0

In [1]:
bool('1')

True